*{
    font-family: Instrument Serif;
    color: #4D4343;
}
body{
    background-color:#ADDC7E ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
img{
    width: 100%;
    aspect-ratio: 1 / 1;

}
.titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom:20vh;
}
.titre h1{
    margin-top: 0px;
}
#accueil{
    position: absolute;
    top: 0%;
    left: 0%;
}
